$title-block-color : black;

div {
  h1 
  {
    text-align:center;
  }
}

h3  {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
  padding-left:2px;
}

.card-img-top {
  width:auto;
  height:auto;
  border-radius: 0px;
}

.container {
      display: flex;
      flex-wrap: wrap;
  }

.card-title {
  text-align: center;
  font-size: 30px;
  }

%text-block {

    position: relative;
    bottom: 0px;
    right: 0px;
    left: 0px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 2px;  }
#home-title {
  @extend %text-block;
  text-align: center;
  background-color: $title-block-color;}

.text-block-UTM {
      @extend %text-block;
      background-color: $title-block-color;}
.text-block-METU {
  @extend %text-block;
  background-color: #093802;}
.text-block-CU {
  @extend %text-block;
  background-color: $title-block-color;}
.text-block-ASU {
  @extend %text-block;
  background-color: $title-block-color; }